
    #box{
        width: 80%;
        height:100%;
    }
    #matrix td{
        text-align: center;
        font-size: 48px;
        width: 11.1%;
        height: 11.1%;
    
      }

      input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}